body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20 px;
    background-color: blanchedalmond;
}
h1 {
    color: indianred;
}

.opcion {
    margin: auto;
    font-size: 18px;
}
button {
    padding: 10 px 15 px;
    margin-right: 10 px;
    background-color: bisque;
    color: azure;
    border: none;
    border-radius: 5 px;
    cursor: pointer;
}
button:hover {
    background-color: aquamarine;
} 
